<% include ../partials/header %>

<div class="ui main text container">
  <div class="ui grid">
    <div class="three column row">

      <% books.forEach(function(book) { %>

        <div class="column">      
          <div id="caard" class="item">

              <img class="ui fluid small rounded image" src="<%= book.image %>">

          </div>
        </div>
      <% }); %>



    </div>
  </div>
  <a href="/jmmmmuu/book/search">
    <button class="ui inverted green button">add New</button>
  </a>
</div>

<% include ../partials/footer %>
