<!DOCTYPE html>
<html>
    <head>

        <title>YUSEOK - AWESOME</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a class="ui huge header item" href="/">YUSEOK WORLD</a>
                <a class="ui medium header item">Post</a>
                <a class="ui medium header item">Book</a>
                <a class="ui medium header item">Running</a>
                <a class="right item">Login</a>
            </div>
        </div>
