<!DOCTYPE html>
<html>
    <head>

        <title>YUSEOK - AWESOME</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a class="ui large header item" href="/jmmmmuu">YUSEOK WORLD</a>
                <a class="ui small header item" href="/jmmmmuu/post">Post</a>
                <a class="ui small header item" href="/jmmmmuu/book">Book</a>
                <a class="ui small header item" href="/jmmmmuu/running">Running</a>
                <div class="right menu">
                    <% if (!currentUser) { %>
                        <a class="item" href="/jmmmmuu/register">Sign Up</a>
                        <a class="item" href="/jmmmmuu/login">Login</a>
                    <% } else { %>
                        <a class="item" href="/jmmmmuu/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
