<% include partials/header %>

<div class="ui main container">
    <div class="ui grid">
        <div class="two column row">

            <div id="postSection" class="column">
                <div class="ui placeholder segment">
                    <div class="ui vertical segment">
                        <a class="ui huge header" href="/jmmmmuu/post/">Post</a>
                        <div class="ui horizontal divider">Content</div>

                        <div class="ui items">
                            <% posts.forEach(function(post) { %>
                                <div class="item">
                                    <div class="ui small left floated image">
                                        <img src="<%= post.image %>">
                                    </div>
                                    <div class="middle aligned content">
                                        <a class="ui header" href="/jmmmmuu/post/<%=post._id %>"><%= post.title %></a>
                                    </div>
                                </div><!-- class="item" -->
                            <% }); %>

                        </div><!-- items -->
                        <div class="extra content">
                            <a class="ui blue right floated" href="/jmmmmuu/post/">See More</a>
                        </div>
                    </div><!-- ui vertical segment -->
                </div><!-- placeholder segment -->
            </div><!-- column -->

            <div id="bookSection" class="column">
                <div class="ui placeholder segment">
                    <div class="ui vertical segment">
                        <a class="ui huge header" href="/jmmmuu/book/">Book</a>
                        <div class="ui horizontal divider">Cover</div>

                        <div class="ui two column grid">
                            <% books.forEach(function(book) { %>
                                <div id="bookCover" class="column">
                                        <div id="coverImg" class="ui rounded small image">
                                            <img src="<%= book.cover %>">
                                        </div>
                                </div>
                            <% }); %>
                        </div><!-- class="grid" -->
                        <div class="extra content">
                            <a class="ui blue right floated" href="/jmmmmuu/book/">See More</a>
                        </div>
                    </div>
                </div>
            </div><!-- column -->

        </div>
    </div>



    <div class="ui placeholder segment">
        <div class="ui vertical segment">
            <div class="ui huge header">Running</div>
        </div>
    </div>

</div>





<% include partials/footer %>
