<% include partials/header %>

<div class="ui main text container">
    <div class="jumbotron">
        <div class="ui vertical segment">
            <div class="ui large header">Post</div>

        </div>
    </div>

    <div class="jumbotron">
        <div class="ui vertical segment">
            <div class="ui large header">Book</div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="ui vertical segment">
            <div class="ui large header">Running</div>
        </div>
    </div>

</div>





<% include partials/footer %>
