<% include partials/header %>

<div class="ui main container">
  <div class="ui grid">
    <div class="three column row">
      

      <% posts.forEach(function(post) { %>

        <div class="column">      
          <div id="caard" class="item">

              <img class="ui fluid bordered rounded image" src="<%= post.image %>">
              <div class="ui content">
                <a class="ui large header" href="/jmmmmuu/post/<%= post._id %>"><%= post.title %></a>
              </div>

          </div>
        </div>
      <% }); %>



    </div>
  </div>

<% include partials/footer %>
