<% include partials/header %>

<div class="ui main text container">
<form action="/jmmmmuu/book/results" method="GET">
    <input type="text" placeholder="title" name="searchedBook">
    <input type="button">
</form>

<h1><%= selected %></h1>


</div>




<% include partials/footer %>
