.container.main { margin-top: 7.0em; }

.footer {
    position: fixed;
    text-align: right;
    bottom: 0px;
}

#delete { display: inline; }

.column #caard {
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#caard .content {
    padding-top: 15px;
}
